<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.jowidgets.examples.rcp.example1"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.jowidgets.examples.rcp.example1/css/default.css">
         </property>
         <property
               name="appName"
               value="org.jowidgets.examples.rcp.example1">
         </property>
      </product>
   </extension>

</plugin>
